/* RESETS */
html {font-size:1.25em;}
html * {margin:0em; padding:0em; }
body {font:50% verdana,arial,helvetica,sans-serif; overflow:visible; }
img {border:none;}
ul {list-style-type:none;}
table { border-collapse: collapse; }

/* IE6 */
.ie6 { display:none; }

/* COMMON */
.fleft { float:left; }
.fright { float:right; }
.both { clear:both; }
.click { cursor:pointer; }
.hidden { display:none; }
.bold { font-weight:bold; }
.box {
    background:#EFEFEF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border:1px solid #ccc;
    color:#333;
    margin:auto;
    padding:2em;
}

/* ERRORS */
ul.errors  li { color:#f00; }
div.error {
    background:#FFDFDF;
    border:1px solid #f00;
    color:#f00;
    padding:1em;
    margin:0.8em 0em;
}

/* FORMs */
form.box {
	width:40em;
	margin-bottom:2em;
}
form.box input, form.box select {
    border:1px solid #ccc;
    color:#333;
    margin-bottom:0.6em;
    padding:0.3em;
    width:100%;
}
form.box input.active { border:1px solid #3F4FFF; background:#DFDFFF; }
form.box select {  }

/* FONTs */
h1 {
    border-bottom:1px solid #ccc;
    float:left;
    width:20em;
}
h2 {  }
h3 {
	font-size:1.6em;
	margin-bottom:0.3em;
}

/* LINKS */
a,
a:link,
li a:active,
a:visited {
    color:#333;
    text-decoration:none;
}
a:hover {
    color:#666;
}


/* NAVIGATIO */
ul#navigation {
    float:right;
}
ul#navigation li {
    float:left;
}
ul#navigation li.details {
    font-style:italic;
    font-weight:bold;
}
ul#navigation li a,
ul#navigation li a:link,
ul#navigation li a:active,
ul#navigation li a:visited {
    padding:0.2em 1em;
}
ul#navigation li a:hover {

}

/* COMMON LAYOUT */
body {

}
div#page {
    margin:1em;
    padding:1em;
}

div#main {
    clear:both;
}

/* RESULTS */
table#results {
    width:100%;
}
table#results thead {

}
table#results thead tr {

}
table#results thead tr td {
    border-bottom:3px solid #fff;
    font-size:1.6em;
    padding:0.3em 0.4em;
}
table#results thead tr td span.result_statistics {
    font-size:0.8em;
}
table#results tbody {

}
table#results tbody tr {

}
table#results tbody tr.hover {
    background:#fff;
}
table#results tbody tr td {
    border-bottom:1px solid #fff;
    padding:0.3em 0em;
}